# Python stuff
*.pyc
__pycache__
venv

# Editor stuff
.vscode

# Data
data
svt-*

# Sparv-related stuff
export
.snakemake
annotate.sh
preloader.out
annotate.out
clean_exports.sh
nohup*
.svn
README-sparv.md
config.yaml
